/* Angular fixes */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Typography */

h1 {
  font-size: 44px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

/* Helper classes */

.form-error {
  color: #a94442;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.welcome {
  font-size: 40px;
  line-height: 1.1;
  max-width: 350px;  
}

.splash {  
  background: -webkit-linear-gradient(90deg, #f46b45 10%, #eea849 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #f46b45 10%, #eea849 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #f46b45 10%, #eea849 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #f46b45 10%, #eea849 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #f46b45 10%, #eea849 90%); /* W3C */        
  color: white;
  padding: 10px 0px;
  min-height: 310px;
  padding-top: 20px;  
}