<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Solara</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="view1/view1.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <div class="search-component" ng-controller="SearchCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <section class="welcome">
                  <h1>Solara</h1>
                  <h2>Satisfy your craving for tasty sun event morsels</h2>
                </section>
              </div>
              <div class="col-md-6">
                <form novalidate name="searchform" class="search-form">
                  <section class="form-group" ng-class="{'has-error': searchform.address.$invalid}">
                    <label>Address:</label>
                    <input name="address" type="text" ng-model="params.address" required class="form-control">
                  </section>
                  <section class="form-group" ng-class="{'has-error': searchform.startDate.$invalid}">
                    <label>Start date:</label>
                    <input name="startDate" type="date" class="form-control" datepicker-popup ng-model="params.startDate" datepicker-options="config.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  </section>
                  <section class="form-group" ng-class="{'has-error': searchform.endDate.$invalid}">
                    <label>End date:</label>
                    <input name="endDate" type="date" class="form-control" datepicker-popup ng-model="params.endDate"datepicker-options="config.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  </section>
                  <section class="form-group">
                    <div>
                    <input class="btn btn-light pull-right" type="submit" value="Fetch" ng-click="doSearch(params)" ng-disabled="searchform.$invalid"/>
                    <div class="form-errors" ng-cloak>
                      <div class="form-error" ng-show="searchform.address.$invalid">Invalid address.</div>
                      <div class="form-error" ng-show="searchform.startDate.$invalid">Invalid start date.</div>
                      <div class="form-error" ng-show="searchform.endDate.$invalid">Invalid end date.</div>
                      <div class="form-error" ng-show="searchform.$error.endBeforeStart">End date must be same or after start.</div>
                      <div class="form-error" ng-show="searchform.$error.durationTooLong">Duration must be less than 14 days.</div>
                      <div class="form-error" ng-show="exceptions.geocodeZero">No location for that address.</div>
                      <div class="form-error" ng-show="exceptions.geocodeError">Geocode error, try again.</div>
                      <div class="form-error" ng-show="exceptions.timezoneZero">No timezone for that location.</div>
                      <div class="form-error" ng-show="exceptions.timezoneError">Timezone error, try again.</div>
                      <div class="form-error" ng-show="exceptions.searchError">Search error, try again.</div>
                    </div>
                  </section>
                </form>
              </div>        
            </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-view></div>  

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment-timezone/moment-timezone.js"></script>
  <script src="app.js"></script>
  <script src="components/search/search.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
</body>
</html>
